* { 
	margin: 0; 
	padding: 0;
    font-family: 'XoloniumRegular';
    font-weight: normal;
    font-style: normal;
	text-shadow: 1px 1px 0px black;

}
@font-family {

}
body {
	background-color: black;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: lime;
}
#titleScreen {
	margin: 25px auto;
	padding: 50px;
	width: 800px;
	height: 400px;
	position: relative;
	text-align: center;
	background-color: black;
	background-image: url(../images/intro.jpg);	
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#startControls {
	text-align: center;
	width: 100px;
	height: 50px;
	margin: 350px auto;
}
#introScreen {
	margin: 25px auto;
	text-align: center;
	padding: 50px;
	width: 800px;
	height: 400px;
	position: relative;
	display: none;
}
#introNarrative {
	margin: 50px auto;
	padding: 10px;
	background-color: rgba(0, 0, 200, 0.25);
}
#gameScreen {
	margin: 25px auto;
	text-align: center;
	width: 900px;
	height: 500px;
	position: relative;
	background-color: black;
	display: none;
}
#locationImage {
	background-image: url(../images/flightDeck.jpg);
	background-repeat: no-repeat;
	background-position: center;
	text-align: left;
	float: left;
	height: 400px;
	width: 680px;
}
#locationName {
	margin: 5px;
}
#locationMessage {
	margin: 5px;
	padding: 5px;
	height: 100px;
	width: 400px;
	background-color: rgba(0, 200, 0, 0.25); 
}
#creatures {
	margin: 5px;
	padding: 5px;
	height: 220px;
	width: 660px;
	background-color: rgba(0, 200, 0, 0.25); 
	background-image: url(../images/lurker.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
#sideBar {
	margin: 0px;
	padding: 0px;
	height: 500px;
	width: 210px;
	float: right;
	padding: 5px;
}
#oxygenRemaining {
	margin: 5px auto;
	padding: 5px;
	height: 40px;
	background-color: rgba(0, 200, 0, 0.25);
}
#actions {
	margin: 5px auto;
	padding: 5px;
	height: 180px;
	background-color: rgba(0, 200, 0, 0.25);	
}
#itemsHeld {
	margin: 5px auto;
	padding: 5px;
	height: 180px;
	background-color: rgba(0, 200, 0, 0.25);	
}
li {
	text-align: left;
}
ul {
	list-style-type: none;
}
em {
	font-style: bold;
	color: white;
}
#saveAndQuitButtons {
	position: absolute;
	bottom: 10px;
}
#playerControls {
	height: 100px;
	width: 680px;
	float: left;
	text-align: left;
}
#playerInput {
	margin: 5px;
	background-color: rgba(0, 200, 0, 0.75);
}
#playerConsole {
	margin: 5px;
	height: 60px;
	width: 670px;
	background-color: rgba(0, 200, 0, 0.25); 
}

#gameOverScreen {
	margin: 25px auto;
	text-align: center;
	width: 900px;
	height: 500px;
	position: relative;
	display: none;
	background-image: url(../images/deadFloatingHand.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#gameOverBanner {
	margin: 75px auto 10px;
	background-image: url(../images/youDied.png);
	background-position: center;
	width: 900px;
	height: 150px;
	position: relative;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#gameOverMessage {
	margin: 5px auto;
	height: 200px;
	width: 400px;
	position: relative;	
	background-color: rgba(0, 200, 0, 0.25); 
}
